.env

*.pyc
__pycache__/
*.py[cod]
*$py.class

__pycache__/
*.log
.DS_Store

node_modules/
frontend/node_modules/
backend/media/qr_codes/
venv/
venv39/
venv*/
# Bỏ qua file ngrok
ngrok
ngrok-v3-stable-linux-amd64.tgz
# Bỏ qua các file SQL
*.sql

__pycache__/
frontend/node_modules/
frontend/node_modules/.cache/

vinallama-7b-chat_q5_0.gguf